@model MvcMovieTicketSales.Models.MovieCategoryType

<section class="portfolio-area pt-60">
    <div class="container">
        <div class="row flexbox-center">
            <div class="col-lg-3 text-center text-lg-left">
                <div class="section-title">
                    <h1><i class="icofont icofont-movie"></i> Filmler</h1>
                </div>
            </div>
            <div class="col-lg-9 text-center text-lg-right">
                <div class="portfolio-menu">
                    <ul>
                        @foreach (var item in Model.movieCategory)
                        {
                            <li data-filter=".@item.Name">@item.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <hr />

        <div class="row flexbox-center">
            <div class="col-lg-12 text-center text-lg-right">
                <div class="portfolio-menu">
                    <ul>
                        <li data-filter=".Hepsi" class="active">Hepsi</li>
                        <li data-filter=".@DateTime.Now.Year">Vizyonda</li>
                        <li data-filter=".@ViewBag.ComingSoon">Yakında Gelicek</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row portfolio-item">
                    @foreach (var item in Model.movieType)
                    {
                        <div class="col-md-3 col-sm-6 Hepsi @item.MovieCategory.Name @item.Movie.Release.Value.ToString("yyyy")">
                            <div class="single-portfolio">
                                <div class="single-portfolio-img">
                                    <img src="@item.Movie.Image" alt="@item.Movie.Name" style="width: 255px; height: 409px;" />
                                    <a href="@item.Movie.Trailer" class="popup-youtube">
                                        <i class="icofont icofont-ui-play"></i>
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <h2><a href="/Movie/Details/@item.Movie.Id">@item.Movie.Name</a></h2>
                                    <div class="review">
                                        <div class="author-review">
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                        </div>
                                        <h4>180k voters</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>