@model MvcMovieTicketSales.Models.MovieActor

@{
    int i = 0;
}
<section class="hero-area" id="home">
    <div class="container">
        <div class="hero-area-slider">
            @foreach (var item in Model.movie)
            {
                <div class="row hero-area-slide">
                    <div class="col-lg-6 col-md-5">
                        <div class="hero-area-content">
                            <img src="@item.Image" alt="@item.Name" style="width:524px; height: auto;" />
                            <a class="popup-youtube" href="@item.Trailer">
                                <i class="icofont icofont-play"></i>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="hero-area-content pr-50">
                            <h2><a href="/Movie/Details/@item.Id">@item.Name</a></h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                            <p>@item.Overview.Substring(0, 350)</p>
                            <h3>Oyuncular:</h3>
                            <div class="slide-cast">
                                @foreach (var item2 in Model.celebriteDetail.Where(x => x.MovieId == item.Id))
                                {
                                    i++;
                                    <div class="single-slide-cast">
                                        <img src="@item2.Celebrite.Image" alt="@item2.Celebrite.FullName" />
                                    </div>
                                    if (i == 7)
                                    {
                                        <div class="single-slide-cast text-center">
                                            7+
                                        </div>
                                    }
                                }
                            </div>
                            <div class="slide-trailor">
                                <h3>Fragmanı İzle</h3>
                                <a class="theme-btn theme-btn2" href="@item.Trailer"><i class="icofont icofont-play"></i> Biletler</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="hero-area-thumb">
            <div class="thumb-prev">
                <div class="row hero-area-slide">
                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <img src="~/Images/Movie/zootopia.jpg" alt="about" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>Last Avatar</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                            <p>She is a devil princess from the demon world. She grew up sheltered by her parents and doesn't really know how to be evil or any of the common actions,   She is unable to cry due to Keita's accidental first wish, despite needed for him to wish...</p>
                            <h3>Oyuncular:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast1.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast2.html" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast3.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast4.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast5.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast6.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast7.png" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Fragmanı İzle</h3>
                                <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Biletler</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="thumb-next">
                <div class="row hero-area-slide">
                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <img src="~/Images/Movie/toyStory4.jpg" alt="about" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>The Deer God</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                            <p>She is a devil princess from the demon world. She grew up sheltered by her parents and doesn't really know how to be evil or any of the common actions,   She is unable to cry due to Keita's accidental first wish, despite needed for him to wish...</p>
                            <h3>Cast:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast1.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast2.html" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast3.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast4.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast5.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast6.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="~/Content/Moviepoint-Online-Movie-Template/assets/img/cast/cast7.png" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Watch Trailer</h3>
                                <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>